@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
	<h1 class="display-4 text-center">Welcome to SK School</h1>
	<ul type="none">
		<li>"Education is not preparation for life; education is life itself."<b> - John Dewey</b></li>
		<li>"The beautiful thing about learning is that no one can take it away from you."<b> - B.B. King</b></li>
		<li>"Education is the key to unlock the golden door of freedom."<b> - George Washington Carver</b></li>
		<li>"Education is the most powerful weapon which you can use to change the world."<b> - Nelson Mandela</b></li>
		<li>"Education is the passport to the future, for tomorrow belongs to those who prepare for it today."<b> - Malcolm X</b></li>
	</ul>
</div>
